.page-footer {
	background: $grey_bg;
	padding: 3.5em 0;// 1.25em;
	text-transform: uppercase;

	.shell {
		max-width: 75em;
	}
}

.footer-widgets {
	@include breakpoint(tall) {
		display: flex;
	}
}

.footer-widget {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5em;

	@include breakpoint(tall) {
		width: calc(100% / 3);
	}
}

.logo-widget {
	@include breakpoint(grande) {
		justify-content: flex-end;
	}

	.widget-wrapper {
		@include breakpoint(grande) {
			margin-right: 7.5%;
		}
	}

	.logo {
		width: 220px;
		height: 79px;
	}
}

.location-widget {
	@include breakpoint(tall) {
		border-left: 2px solid $grey_border;
		border-right: 2px solid $grey_border;
	}

	.location-details {
		color: $ltgreen;
		font-size: .75em;
		font-weight: 400;
	}
}

.social-widget {
	@include breakpoint(grande) {
		justify-content: flex-start;
	}

	.widget-wrapper {
		@include breakpoint(grande) {
			margin-left: 7.5%;
		}
	}
}

.footer-title {
	margin-bottom: .0625em;
	color: $white;
	font-size: 1.25em;
	font-weight: 600;
	letter-spacing: .095em;

	* + & {
		margin-top: 1em;
	}
}

.footer-info {
	margin: 2em 0 0;
	color: $white;
	font-family: Raleway, sans-serif;
	font-size: .75em;
	text-align: center;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.75em;
	height: 3.75em;
	margin: .25em;
	background: $social_bg;
	color: $grey_bg;
	text-decoration: none;

	&:visited {
		color: $grey_bg;
	}

	&:hover, &:active, &:focus {
		background: $ltgreen;
		color: $grey_bg;
	}

	.fa {
		font-size: 2em;
	}
}
