.page-logo {
	padding: 24px 26px 18px;
	text-align: left;

	.shell {
		max-width: 75em;
	}

	.logo {
		width: 220px;
		height: 79px;
	}
}

.hero {
	position: relative;
	background: #404041 no-repeat center center / cover;
	padding: 6.25em 1.25em 7.5em;
	color: $white;
	font-family: $museo;
	font-weight: 300;
	text-align: center;
	text-shadow: 0 .25em .5em rgba(#000, .3);
}

.engagement-hero {
	background-image: url(../images/engagement-hero.jpg);
}

.engagement-title {
	margin-bottom: .25em;
	font-size: 2em;
	text-transform: uppercase;

	@include breakpoint(short) {
		font-size: 3.25em;
	}

	@include breakpoint(tall) {
		font-size: 4.375em;
	}
}

.engagement-subtitle {
	font-size: 1.25em;
	text-transform: uppercase;

	@include breakpoint(tall) {
		font-size: 1.6875em;
	}
}

.jewelry-hero {
	background-image: url(../images/jewelry-hero.jpg);
}

.jewelry-title {
	margin-bottom: .5em;
	font-size: 2em;
	font-weight: 500;
	text-transform: uppercase;

	@include breakpoint(tall) {
		font-size: 2.5em;
	}
}

.jewelry-subtitle {
	font-size: 1.25em;

	@include breakpoint(tall) {
		font-size: 1.375em;
	}
}

.hero-arrow {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background-color: $white;

	&:before,
	&:after {
		content:'';
		position: absolute;
		bottom: 100%;
		width: 50%;
		border-bottom: 2.5em solid $white;
	}

	&:before {
		right: 50%;
		border-right: 4.75em solid transparent;
	}

	&:after {
		left: 50%;
		border-left: 4.75em solid transparent;
	}
}
