%button {
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	background: $green_bg;
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	border: 1px solid;
	border-color: transparent;
	border-radius: 0;
	padding: 1em 2em;
	/* Improve cursor style usability and consistency between image-type 'input' and others */
	cursor: pointer;
	color: $white;
	font-family: $museo;
	/* Correct font size not being inherited in all browsers */
	font-size: 100%;
	font-weight: 100;
	/* Improve appearance and consistency in all browsers */
	vertical-align: baseline;

	&:hover,
	&:focus,
	&:active {
		background: $green_font;
		color: $white;
	}
}

button {
	@extend %button;

	&::-moz-focus-inner {
		/* Correct oddly displayed inner padding and border in FF3/4 - www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
		border: 0;
		padding: 0;
	}
}

.button {
	@extend %button;
	display: inline-block;
	min-width: 14.5rem;
	text-decoration: none;

	&:visited {
		color: $white;
	}
}

.button-hollow-ltgreen {
	@extend .button;
	background: none;
	border-color: $ltgreen;
	color: $ltgreen;
	font-weight: 500;
	text-transform: uppercase;

	&:visited {
		color: $ltgreen;
	}

	&:hover, &:active, &:focus {
		background: $ltgreen;
		color: $green_font;
	}
}

.button-hollow-grey {
	@extend .button;
	background: none;
	border-color: $grey_bg;
	color: $grey_bg;
	font-weight: 500;
	text-transform: uppercase;

	&:visited {
		color: $grey_bg;
	}

	&:hover, &:active, &:focus {
		background: $grey_bg;
	}
}
