@font-face {
	font-family: Didot;
	src: url(../fonts/TheanoDidot-Regular.ttf);
}

@font-face {
	font-family: "Museo Sans";
	src: url(../fonts/museosans_100-webfont.ttf);
	font-weight: 100;
}
@font-face {
	font-family: "Museo Sans";
	src: url(../fonts/museosans_300-webfont.ttf);
	font-weight: 300;
}
@font-face {
	font-family: "Museo Sans";
	src: url(../fonts/museosans_500-webfont.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Museo Sans";
	src: url(../fonts/museosans_700-webfont.ttf);
	font-weight: 700;
}
