// color variables
$white: #ffffff;
$off_white: #fdfdfb;

$grey_font: #212121;
$grey_bg: #404041;
$grey_border: #5f605d;

$ltgrey_bg: #e6e7e8;
$ltgrey_border: #efefef;

$green_font: #808b48;
$green_bg: #939c69;

$ltgreen: #dcdfcc;

$social_bg: #c2c4b5;


// font variables
$raleway: Raleway, Helvetica, Arial, sans-serif;
$museo: 'Museo Sans', Helvetica, Arial, sans-serif;
$raleway: Didot, Georgia, 'Times New Roman', serif;
