.engagement-cta {
	border-top: 1px solid $grey_bg;
	
	.cta-wrapper {
		@include breakpoint(grande) {
			display: flex;
			justify-content: space-between;
		}
	}

	.cta {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
		padding: 2.5em 1.125em;
		text-align: center;

		@include breakpoint(grande) {
			width: calc(100% / 3);
		}
	}

	.design {
		background: $green_bg;
		color: $ltgreen;
	}

	.pricing {
		background: $white;
		color: $grey_bg;
	}

	.financing {
		background: $ltgreen;
		color: $grey_bg;
	}

	.cta-title {
		font-size: 1.125em;
		text-transform: uppercase;

		span {
			display: block;
			font-family: TeanoDidot;
			font-size: 1.5em;
		}
	}

	[class^="button"] {
		margin-top: auto;
	}
}
