.featured-products {
	padding: 3em 1.25em;

	& + & {
		padding-top: 0;
	}

	.section-title {
		color: $green_font;
		font-family: $museo;
		font-weight: 700;
		text-transform: uppercase;
	}

	.product-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;

		@include breakpoint(tall) {
			max-width: 45em;
		}
	}

	.four-by-grid {
		@include breakpoint(grande) {
			max-width: none;
		}
	}

	.three-by-grid {
		@include breakpoint(grande) {
			max-width: 60em;
		}

		.product {
			@include breakpoint(grande) {
				width: calc((100% / 3) - .5em);
			}
		}
	}

	.product {
		max-width: 15em;
		margin: 1em .25em;

		@include breakpoint(tall) {
			width: calc(50% - .5em);
		}

		@include breakpoint(grande) {
			width: calc(25% - .5em);
		}
	}

	.product-img {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid $ltgrey_border;

		img {
			display: block;
			width: 100%;
		}
	}

	.product-cat {
		margin-top: 1em;
		font-family: $museo;
		font-size: 1.125em;
		font-weight: 300;
	}
}

.sample-products {
	img {
		display: block;
		margin: 0 auto;
	}
}
