.shop-cta {
	background: $ltgrey_bg;
	padding: 2.5em 1.25em;

	.section-title {
		color: $green_font;
		font-family: $museo;
		font-size: 1.6875em;
		font-weight: 700;
		text-transform: uppercase;
	}

	.buttons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: .5em auto;
	}

	.button {
		margin: .25em;
		font-size: 1.125em;
	}
}
