.special-feature {
	.feature-wrapper {
		background: $grey_bg url(../images/couple-kissing-background.jpg) no-repeat center top / cover;
		padding-top: 3em;

		@include breakpoint(tall) {
			padding-top: 5em;
		}

		@include breakpoint(grande) {
			padding-top: 7em;
		}
	}

	.title-wrapper {
		padding: 0 1.125em;
	}

	.section-title {
		margin-bottom: 1.2em;
		color: $green_font;
		font-family: $museo;
		font-size: 2.5em;
		font-weight: 700;
		text-transform: uppercase;
	}

	.reason-number {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
		font-family: Didot;
	}

	.tabs-labels {
		display: flex;
		padding: 0 1.125em;
	}

	.label-list {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 62.5em;
		margin: 0 auto;
	}

	.tab-label {
		position: relative;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
		display: block;
		text-align: center;
		width: calc(20% - .5em);
		padding-bottom: 1.5em;
		color: $white;

		@include breakpoint(short) {
			padding-bottom: 2.5em;
		}

		@include breakpoint(tall) {
			padding-bottom: 3em;
		}

		&:hover {
			cursor: pointer;
		}

		&.active {
			&:after {
				content: '';
				position: absolute;
				left: calc(50% - 1em);
				bottom: 0;
				width: 0;
				height: 0;
				border-left: 1em solid transparent;
				border-right: 1em solid transparent;
				border-bottom: .75em solid $green_bg;

				@include breakpoint(short) {
					left: calc(50% - 1.5em);
					border-left-width: 1.5em;
					border-right-width: 1.5em;
					border-bottom-width: 1.125em;
				}

				@include breakpoint(tall) {
					left: calc(50% - 2em);
					border-left-width: 2em;
					border-right-width: 2em;
					border-bottom-width: 1.5em;
				}
			}
		}

		.reason-number {
			display: block;
			margin: 0 auto;
			font-size: 2em;
			line-height: 1;

			@include breakpoint(tall) {
				font-size: 2.5em;
			}

			@include breakpoint(grande) {
				width: 1.75em;
				border-bottom: 1px solid $ltgreen;
				padding-bottom: .125em;
				font-size: 3em;
			}
		}

		.reason-title {
			display: block;
			position: absolute;
			overflow: hidden;
			width: 1px;
			height: 1px;
			margin-top: 1em;
			opacity: 0;
			font-size: 1.125em;
			font-weight: 500;

			@include breakpoint(grande) {
				position: static;
				overflow: visible;
				width: auto;
				height: auto;
				opacity: 1;
				margin-top: .75em;
			}
		}
	}

	.tabs-content {
		background: $green_bg;
		padding: 0 1.25em;
	}

	.tabs-wrapper {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
		width: 100%;
		max-width: 62.5em;
		margin: 0 auto;
		padding: 1.25em 0;

		@include breakpoint(tall) {
			padding: 2.5em 0 1.25em;
		}
	}

	.tab-content {
		display: none;
		margin-top: .25em;
		border-radius: 10px;

		@include breakpoint(tall) {
			margin-top: 0;
			border-radius: 0;
		}

		&.active {
			display: block;
		}
	}

	.reason {
		display: flex;

		.reason-number {
			display: none;

			@include breakpoint(tall) {
				display: block;
				padding: 0 .5em;
				color: $white;
				font-size: 4.5em;
			}
		}

		.reason-title {
			margin-bottom: .125em;
			color: $white;
			font-size: 1.875em;
		}
	}

	.reason-content {
		text-align: center;

		@include breakpoint(tall) {
			border-left: 1px solid $ltgreen;
			padding-left: 1.5em;
			text-align: left;
		}
	}
}
