.the-4cs {
	background: #2f2f31 no-repeat center center / cover;
	padding: 3.5em 1.25em 4.5em;
	color: #73746e;

	@include breakpoint(tall) {
		background-image: url(../images/choice-bg.jpg);
		text-align: left;
	}

	.shell {
		@include breakpoint(tall) {
			display: flex;
			justify-content: flex-end;
		}
	}

	.content-wrapper {
		flex-grow: 0;
		flex-shrink: 0;

		@include breakpoint(tall) {
			flex-basis: 50%;
			padding-left: 2em;
		}
		
		@include breakpoint(grande) {
			padding-left: 3.75em;
		}
	}

	.section-title {
		margin-bottom: 1em;
		color: $green_font;
		font-size: 1.75em;
		font-family: $museo;
		font-weight: 700;
		text-transform: uppercase;
	}

	.choice {}

	.choice:not(:first-child) {
		margin-top: 1.5em;
	}

	.choice-title {
		margin-bottom: .25em;
		color: #dcdfcc;
		font-size: 1.5em;
		font-weight: normal;
	}

	.choice-list {
		margin: 0 0 0 1em;
		font-size: .875em;

		li {
			margin: .375em 0;
		}
	}
}
